<html>
    <body>
            <form method="post" action="/promocoes">
                <div>
                    <input type="text" name="mensagem"/>
                </div>

                <div>
                    <select name="livro[titulo]">
                        <%for(var i=0; i< livros.length; i++){%>
                            <option value="<%=livros[i].titulo%>"><%=livros[i].titulo%></option>
                        <%}%>
                    </select>
                </div>

                <input type="submit" value="Cadastrar promoção"/>
            </form>
    </body>
</html>