<html>
    <head>
    </head>

    <body>
        <form action="/produtos/salvar" method="POST">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" placeholder="Digite o titulo do livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" placeholder="120.5"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea  id="descricao" cols="20"></textarea>
            </div>

            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>